.list-cell {
    -fx-padding: 0px 0px 0px 0px;
}

.list-cell:empty {
    -fx-background-color: transparent;
}

.list-view .list-cell:even {
	-fx-background-color: #17203F;
}

.list-view .list-cell:odd {
	-fx-background-color: #17203F;
}

.list-view .list-cell:empty:hover{
	-fx-background-color: #17203F;
}




.list-view .scroll-bar:vertical {
    -fx-background-color: #17203F;
    -fx-padding: 2;
}

.list-view .scroll-bar:vertical .thumb {
    -fx-background-color: #273469;
}

.list-view .scroll-bar:vertical .increment-arrow {
   -fx-background-color: #17203F;
   -fx-padding: 2;
}

.list-view .scroll-bar:vertical .decrement-arrow {
   -fx-background-color: #17203F;
   -fx-padding: 2;
}

.list-view .scroll-bar:vertical .increment-arrow:hover {
    -fx-background-insets: 0;
    -fx-background-color: #17203F;
}

.list-view .scroll-bar:vertical .decrement-arrow:hover {
    -fx-background-insets: 0;
    -fx-background-color: #17203F;
}